# Google Sheets RSVP integration
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=1FhhGRngq9Od96jX3zffohEeRaI9z20M9stEPzrutbvc
GOOGLE_SHEET_TAB_GAI=NhaGai
GOOGLE_SHEET_TAB_TRAI=NhaTrai
